openapi: 3.2.0
info:
  title: Pressable API Documentation (v1) Auth API
  version: 1.0.0
  description: The Pressable API is a tool for our customers to create personalized experiences and automate routine tasks.
  termsOfService: https://pressable.com/legal/
  contact:
    email: help@pressable.com
servers:
- url: https://my.pressable.com/v1
tags:
- name: Auth
paths:
  /auth/token:
    post:
      tags:
      - Auth
      summary: Obtain Access Token
      description: Authentication provides an access token in the response that is required for making requests to the API. Access tokens are active for 1-hour, you should request a new token before the current token expires. The access token provided in the response must be supplied in the standard HTTP Authorization header as Bearer token authentication to make requests to the API.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                grant_type:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                    example: EXAMPLE_ACCESS_TOKEN
                  token_type:
                    type: string
                    example: Bearer
                  expires_in:
                    type: integer
                    example: 3599
                  scope:
                    type: string
                    example: authorized
                  created_at:
                    type: integer
                    example: 1686949418
                  id:
                    type: integer
                    example: 1
                  name:
                    type: string
                    example: John Doe
                  email:
                    type: string
                    example: user@example.com
                  gravatar:
                    type: string
                    example: https://www.gravatar.com/avatar/3b0e9a78b5621fce924f7ce107180970371cf75f565dfaa5e4babe2e4866422a?d=mp
                  scopes:
                    type: array
                    items:
                      type: string
                    example:
                    - authorized
                    - owner
      operationId: postAuthToken
      x-operation-id-source: derived
  /auth/revoke:
    post:
      tags:
      - Auth
      summary: Revoke Access Token
      description: Revoke an access token to stop the access token from being able to make API requests.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                client_id:
                  type: string
                client_secret:
                  type: string
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties: {}
      operationId: postAuthRevoke
      x-operation-id-source: derived
externalDocs:
  description: Find out more about The Pressable REST based API
  url: https://my.pressable.com/documentation/api/v1
