openapi: 3.2.0
info:
  title: Pressable API Documentation (v1) Zones API
  version: 1.0.0
  description: The Pressable API is a tool for our customers to create personalized experiences and automate routine tasks.
  termsOfService: https://pressable.com/legal/
  contact:
    email: help@pressable.com
servers:
- url: https://my.pressable.com/v1
tags:
- name: Zones
paths:
  /zones:
    get:
      tags:
      - Zones
      summary: Get Zones
      description: Get the zones attached to your account.
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: array
                    items:
                      type: object
                    example:
                    - id: 1
                      name: pressable.dev
                      created: '2022-01-31T20:05:45.000Z'
                    - id: 5
                      name: apple.com
                      created: '2022-02-02T17:10:32.000Z'
                    - id: 6
                      name: newdomain.com
                      created: '2022-02-18T16:49:40.000Z'
      operationId: getZones
      x-operation-id-source: derived
  /zones/{zone_id}/records:
    get:
      tags:
      - Zones
      summary: Get Zone Records
      description: Returns all the DNS records attached to a zone.
      parameters:
      - in: path
        name: zone_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: 6
                      created: '2022-02-18T16:49:40.000Z'
                      updated: '2022-02-18T16:49:40.000Z'
                      name: newdomain.com
                      records:
                      - id: 37
                        zoneId: 6
                        primary: false
                        type: A
                        name: www
                        value: 199.16.172.38
                        priority: null
                        weight: null
                        port: null
                        ttl: 3600
                        siteId: 1
                        created: '2022-02-18T16:49:40.000Z'
                      - id: 38
                        zoneId: 6
                        primary: false
                        type: A
                        name: www
                        value: 199.16.173.236
                        priority: null
                        weight: null
                        port: null
                        ttl: 3600
                        siteId: 1
                        created: '2022-02-18T16:49:40.000Z'
                      - id: 39
                        zoneId: 6
                        primary: true
                        type: TXT
                        name: press
                        value: atomic-domain-9bafa2a899c4ee84dbae5778
                        priority: null
                        weight: null
                        port: null
                        ttl: 3600
                        siteId: null
                        created: '2022-02-18T16:49:40.000Z'
                      - id: 40
                        zoneId: 6
                        primary: false
                        type: CNAME
                        name: openhosting1._domainkey.press
                        value: openhosting1._domainkey.wpcloud.com.
                        priority: null
                        weight: null
                        port: null
                        ttl: 3600
                        siteId: null
                        created: '2022-02-18T16:49:40.000Z'
                      - id: 40
                        zoneId: 6
                        primary: false
                        type: CNAME
                        name: openhosting2._domainkey.press
                        value: openhosting2._domainkey.wpcloud.com.
                        priority: null
                        weight: null
                        port: null
                        ttl: 3600
                        siteId: null
                        created: '2022-02-18T16:49:40.000Z'
      operationId: getZonesByZoneIdRecords
      x-operation-id-source: derived
    post:
      tags:
      - Zones
      summary: Create Zone Record
      description: ''
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                type:
                  type: string
                name:
                  type: string
                value:
                  type: string
                ttl:
                  type: integer
      parameters:
      - in: path
        name: zone_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: 6
                      created: '2022-02-18T16:49:40.000Z'
                      updated: '2022-02-18T16:49:40.000Z'
                      name: newdomain.com
                      records:
                      - id: 37
                        zoneId: 6
                        primary: false
                        type: A
                        name: www
                        value: 199.16.172.38
                        priority: null
                        weight: null
                        port: null
                        ttl: 3600
                        siteId: 1
                        created: '2022-02-18T16:49:40.000Z'
                      - id: 38
                        zoneId: 6
                        primary: false
                        type: A
                        name: www
                        value: 199.16.173.236
                        priority: null
                        weight: null
                        port: null
                        ttl: 3600
                        siteId: 1
                        created: '2022-02-18T16:49:40.000Z'
                      - id: 39
                        zoneId: 6
                        primary: false
                        type: CNAME
                        name: newsite2
                        value: newsite2.
                        priority: null
                        weight: null
                        port: null
                        ttl: 0
                        siteId: null
                        created: '2022-02-21T17:21:57.000Z'
      operationId: postZonesByZoneIdRecords
      x-operation-id-source: derived
  /zones/{zone_id}/records/{id}:
    delete:
      tags:
      - Zones
      summary: Delete Record
      description: Delete a DNS record from a zone.
      parameters:
      - in: path
        name: zone_id
        required: true
        schema:
          type: integer
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: 6
                      created: '2022-02-18T16:49:40.000Z'
                      updated: '2022-02-18T16:49:40.000Z'
                      name: newdomain.com
                      records:
                      - id: 37
                        zoneId: 6
                        primary: false
                        type: A
                        name: www
                        value: 199.16.172.38
                        priority: null
                        weight: null
                        port: null
                        ttl: 3600
                        siteId: 1
                        created: '2022-02-18T16:49:40.000Z'
                      - id: 39
                        zoneId: 6
                        primary: false
                        type: CNAME
                        name: newsite2
                        value: newsite2.
                        priority: null
                        weight: null
                        port: null
                        ttl: 0
                        siteId: null
                        created: '2022-02-21T17:21:57.000Z'
      operationId: deleteZonesByZoneIdRecordsById
      x-operation-id-source: derived
  /zones/{zone_id}/providers:
    post:
      tags:
      - Zones
      summary: Generate Email Provider Records
      description: Generate all the email records for popular providers. The records will be attached to the requested zone.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                provider:
                  type: string
      parameters:
      - in: path
        name: zone_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
      operationId: postZonesByZoneIdProviders
      x-operation-id-source: derived
  /zones/{zone_id}/records/{id}/ssl:
    get:
      tags:
      - Zones
      summary: SSL Certificate Details
      description: Returns the SSL certificate details for an A Record.
      parameters:
      - in: path
        name: zone_id
        required: true
        schema:
          type: integer
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: No information found
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - No information found
      operationId: getZonesByZoneIdRecordsByIdSsl
      x-operation-id-source: derived
    put:
      tags:
      - Zones
      summary: Retry SSL Certificate Provisioning
      description: Forces a retry of SSL certificate provisioning of A Records. This is a way to make sure SSL for an A Record is reprovisioned if it is not working properly.
      parameters:
      - in: path
        name: zone_id
        required: true
        schema:
          type: integer
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: There was a problem processing your request.
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - SSL can only be retried on A records
      operationId: putZonesByZoneIdRecordsByIdSsl
      x-operation-id-source: derived
externalDocs:
  description: Find out more about The Pressable REST based API
  url: https://my.pressable.com/documentation/api/v1
