openapi: 3.0.3
info:
  title: Pressable API Documentation (v1) account sites API
  version: 1.0.0
  description: The Pressable API is a tool for our customers to create personalized experiences and automate routine tasks. It accepts form-encoded requests and responds with information in a format called JSON. Although this OpenAPI documentation is a part of our resources, it's specially crafted for customers to use machine learning programs to generate documentation, tools or applications. If you're looking for more user friendly instructions and information, we recommend checking out our [main API documentation page](https://my.pressable.com/documentation/api/v1).
  termsOfService: https://pressable.com/legal/
  contact:
    email: help@pressable.com
servers:
- url: https://my.pressable.com/v1
tags:
- name: sites
paths:
  /sites/{site_id}/domains/entri_link:
    post:
      tags:
      - sites
      summary: DNS Wizard Share-Link Handoff
      description: Issues a DNS Wizard share link that an end user follows to point an existing domain at this site. This is the asynchronous companion to the synchronous POST /v1/sites/{site_id}/domains flow — useful when the API caller does not own the domain and needs the actual owner to walk through DNS setup themselves.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      sharable_link: https://app.goentri.com/share/abc123
                      job_id: job_01HXYZ...
                      status: link_created
                      created_at: '2026-05-01T16:30:00Z'
  /sites/{id}/edge-cache:
    get:
      tags:
      - sites
      summary: Edge Cache Status
      description: Get the current status of the edge cache for your site.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      active: true
                      defensive_mode:
                        active: true
                        active_until: 1724951720
    put:
      tags:
      - sites
      summary: Toggle Edge Cache
      description: The ability to toggle edge cache allows you to enable or disable caching of your site's content at edge locations.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
    delete:
      tags:
      - sites
      summary: Purge Edge Cache
      description: Purging edge cache allows you to remove stored content at edge locations, ensuring the delivery of updated or corrected content to users. This is critical when changes are made to your site that need to be reflected immediately.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
  /sites/{id}/edge-cache/defensive-mode:
    put:
      tags:
      - sites
      summary: Edge Cache Defensive Mode
      description: This mode adds an extra layer of protection against spam bots and DDoS attacks. When enabled, it requires visitors' browsers to complete a small task before accessing the site, which helps block malicious traffic. Legitimate users might see a brief challenge page before they can proceed. Edge Cache must be enabled on the site to use this feature.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                duration:
                  type: string
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: 500
                      created: '2022-01-31T20:05:33.000Z'
                      accountId: 2
                      clonedFromId: null
                      collaboratorsCount: 1
                      displayName: five hundred site
                      domainsCount: 0
                      ecommerce: false
                      edgeCache: enabled
                      edgeCacheDefensiveMode: true
                      edgeCacheDefensiveModeUntil: 1720625109
                      favorite: false
                      ipAddress: 79.127.25.163
                      ipAddressOne: 79.127.25.163
                      ipAddressTwo: 235.255.236.118
                      name: busy-nose-1d7f431a88
                      state: live
                      url: busy-nose-1d7f431a88.mystagingwebsite.com
                      staging: false
                      sandbox: false
                      sftpDomain: sftp.pressable.com
                      phpVersion: '8.0'
                      wordpressVersion: Current Stable Release (6.2)
                      tags:
                      - id: 354
                        name: Clannad
                      wpEnvironmentType: development
                      lightWeight404: false
  /sites/{site_id}/git:
    get:
      tags:
      - sites
      summary: Get Git Configuration
      description: Return the current git configuration for a site — repository URL, branch, repositorySubdirectory (the directory within the repository to deploy from), destinationPath (the path within the site's document root to deploy into), and whether a token is stored.
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      repository: https://github.com/example/site.git
                      branch: main
                      destinationPath: wp-content
                      repositorySubdirectory: wp-content
                      connected: true
                      hasToken: true
    post:
      tags:
      - sites
      summary: Connect Repository
      description: Attach a GitHub repository to the site and trigger an initial deploy. The site's account must already have a bearer token stored — call POST /sites/{site_id}/git/token first if it does not.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                repository:
                  type: string
                branch:
                  type: string
                destination_path:
                  type: string
                repository_subdirectory:
                  type: string
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Created
                  data:
                    type: object
                    example:
                      repository: https://github.com/example/site.git
                      branch: main
                      destinationPath: wp-content
                      repositorySubdirectory: wp-content
                      connected: true
                      hasToken: true
    put:
      tags:
      - sites
      summary: Update Configuration
      description: Update the connected branch, destination path, or repository subdirectory on a site that is already connected to git. Omitted fields are left unchanged; pass an explicit empty string to destination_path or repository_subdirectory to clear that field.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                branch:
                  type: string
                destination_path:
                  type: string
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      repository: https://github.com/example/site.git
                      branch: develop
                      destinationPath: public
                      repositorySubdirectory: wp-content
                      connected: true
                      hasToken: true
    delete:
      tags:
      - sites
      summary: Disconnect Repository
      description: Disconnect the repository from the site. The stored bearer token is also cleared for this site (use POST /sites/{site_id}/git/token to restore it before reconnecting).
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      disconnected: true
  /sites/{site_id}/git/token:
    post:
      tags:
      - sites
      summary: Store Access Token
      description: Persist a GitHub access token for the site. The token must already be issued by GitHub — Pressable does not exchange OAuth codes on your behalf, and only api.github.com is supported (GitHub Enterprise and other git providers are not). Accepted inputs are a classic Personal Access Token, a fine-grained PAT, or a GitHub OAuth access token (e.g. from a GitHub App installation).
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Unprocessable Entity
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - This site is not opted in to the new GitHub integration. Enable it in your account settings before using the git API.
    delete:
      tags:
      - sites
      summary: Revoke Access Token
      description: Clear the stored bearer token for the current site only. Sibling sites on the same Pressable account keep their token. Account-wide revocation is not exposed by the API; use the Control Panel UI for that.
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      revoked: true
  /sites/{site_id}/git/branches:
    get:
      tags:
      - sites
      summary: List Branches
      description: Return the branches available on the connected repository. Useful when building a branch picker against a Pressable site.
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: array
                    items:
                      type: string
                    example:
                    - main
                    - develop
                    - feature/new-theme
  /sites/{site_id}/git/deploy:
    post:
      tags:
      - sites
      summary: Trigger Deploy
      description: Queue a deploy of the currently configured branch on the connected repository. The endpoint returns 202 Accepted with the deploy identifier; deploy progress is then asynchronous. Poll GET /sites/{site_id}/git/history (or subscribe to the git_deploy_completed and git_deploy_failed webhooks) for the final state.
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      deploy_id: 4821
                      state: processing
  /sites/{site_id}/git/history:
    get:
      tags:
      - sites
      summary: Deploy History
      description: Return paginated deploy history for the site, newest first. Use this to follow up on a POST /sites/{site_id}/git/deploy call or to inspect deploy outcomes triggered from the UI.
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      - in: query
        name: page
        schema:
          type: integer
      - in: query
        name: per_page
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: array
                    items:
                      type: object
                    example:
                    - id: 4821
                      created: '2026-05-27T12:08:00.000Z'
                      after: 13407c6d
                      before: 9dd0f047
                      branch: main
                      email: user@example.com
                      message: Update theme
                      name: john
                      repository: https://github.com/example/site.git
                      state: deployed
                  page:
                    type: object
                    example:
                      currentPage: 1
                      nextPage: null
                      lastPage: 1
                      perPage: 25
                      totalItems: 1
  /sites/{id}/ondemand-backups:
    get:
      tags:
      - sites
      summary: On-Demand Backup List
      description: Get a list of on-demand backups for the specified site.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: array
                    items:
                      type: object
                    example:
                    - id: '50564'
                      siteId: 50
                      completed: 1682954943
                      status: completed
                      type: db
                      bytes: '9278'
                      requested: 1682954869
                      backupTimestamp: '2023-05-01 15:29:03'
                      createdBy: John Doe (user@example.com)
                      removedIn: 29 days and 21 hours from now
                      deleteAt: 1685546944
                    - id: '505641'
                      siteId: 50
                      completed: 1682954884
                      status: completed
                      type: db
                      bytes: '92786'
                      requested: 1682954863
                      backupTimestamp: '2023-05-01 15:28:04'
                      createdBy: John Doe (user@example.com)
                      removedIn: 6 days and 21 hours from now
                      deleteAt: 1683559744
                    - id: '5053'
                      siteId: 50
                      completed: 1682954644
                      status: completed
                      type: fs
                      bytes: '846297'
                      requested: 1682954625
                      backupTimestamp: '2023-05-01 15:24:04'
                      createdBy: John Doe (user@example.com)
                      removedIn: 6 days and 22 hours from now
                      deleteAt: 1683562925
    post:
      tags:
      - sites
      summary: Create On-Demand Backup
      description: Create an on-demand backup for the specified site.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                backup_type:
                  type: string
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: null
                      requestId: 50564
                      siteId: 1223013
                      completed: null
                      status: creating
                      type: fs
                      bytes: null
                      requested: 1682966700
                      backupTimestamp: null
                      createdBy: John Doe (user@example.com)
                      removedIn: 30 days and 0 hours from now
                      deleteAt: 1685558700
  /sites/{site_id}/ondemand-backups/{id}:
    get:
      tags:
      - sites
      summary: Get On-Demand Backup
      description: Get the details for a specific on-demand backup attached to the specified site.
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: '50564'
                      siteId: 50
                      completed: 1682954943
                      status: completed
                      type: db
                      bytes: '9278'
                      requested: 1682954869
                      backupTimestamp: '2023-05-01 15:29:03'
                      createdBy: John Doe (user@example.com)
                      removedIn: 29 days and 21 hours from now
                      deleteAt: 1685546944
    delete:
      tags:
      - sites
      summary: Delete On-Demand Backup
      description: Delete a specific on-demand backup attached to the specified site. The status of the site is set to `deleting` and the backup is removed from the site.
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: '50564'
                      siteId: 50
                      completed: 1682954943
                      status: deleting
                      type: db
                      bytes: '9278'
                      requested: 1682954869
                      backupTimestamp: '2023-05-01 15:29:03'
                      createdBy: John Doe (user@example.com)
                      removedIn: 29 days and 21 hours from now
                      deleteAt: 1685546944
  /sites/{site_id}/ondemand-backups/{id}/download:
    get:
      tags:
      - sites
      summary: Download On-Demand Backup
      description: Download the specified on-demand backup attached to the specified site.
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: string
                  errors:
                    type: array
                    items:
                      type: string
                    example:
                    - string
  /sites/{id}/plugins:
    get:
      tags:
      - sites
      summary: Plugin List
      description: Get a list of plugins for the specified site.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: array
                    items:
                      type: object
                    example:
                    - name: akismet
                      title: Akismet Anti-Spam
                      description: Used by millions, Akismet is quite possibly the best way in the world to protect your blog from spam.
                      status: active
                      update: none
                      version: '5.1'
                      update_version: null
                    - name: jetpack
                      title: Jetpack
                      description: Security, performance, and marketing tools made by WordPress experts.
                      status: active
                      update: version higher than expected
                      version: 12.2-a.9
                      update_version: null
                    - name: jetpack-protect
                      title: Jetpack Protect
                      description: Security tools that keep your site safe and sound, from posts to plugins.
                      status: active
                      update: none
                      version: 1.4.0
                      update_version: null
                    - name: pressable-onepress-login
                      title: Pressable OnePress Login
                      description: Pressable OnePress Login for the MyPressable Control Panel.
                      status: active
                      update: none
                      version: 1.3.1
                      update_version: null
                    - name: quiz-maker
                      title: Quiz Maker
                      description: This plugin allows you make unlimited number of quizes.
                      status: active
                      update: available
                      version: 6.4.2.7
                      update_version: 6.4.3.1
                    - name: advanced-cache.php
                      title: ''
                      description: Advanced caching plugin.
                      status: dropin
                      update: none
                      version: ''
                      update_version: null
                    - name: object-cache.php
                      title: Memcached
                      description: External object cache.
                      status: dropin
                      update: none
                      version: ''
                      update_version: null
    post:
      tags:
      - sites
      summary: Install and Activate Plugins
      description: To enhance your WordPress site, install and activate plugins to add new features, functionality, and customization options effortlessly.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                plugins:
                  type: array
                  items:
                    type: object
                    properties:
                      path:
                        type: string
                      version:
                        type: string
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
    put:
      tags:
      - sites
      summary: Update Plugins
      description: Regularly updating plugins is crucial for WordPress sites to ensure optimal performance, security, and compatibility with the latest features and enhancements.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                plugins:
                  type: array
                  items:
                    type: object
                    properties:
                      path:
                        type: string
                      version:
                        type: string
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
    delete:
      tags:
      - sites
      summary: Delete Plugins
      description: Deleting unnecessary plugins from WordPress sites enhances performance, reduces security risks, and minimizes conflicts, resulting in a streamlined and efficient website environment.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                plugins:
                  type: array
                  items:
                    type: object
                    properties:
                      path:
                        type: string
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
  /sites/{id}/plugins/deactivate:
    put:
      tags:
      - sites
      summary: Deactivate Plugins
      description: Deactivating plugins on WordPress sites allows for troubleshooting, prevents conflicts, and temporarily disables specific functionalities without removing the plugin entirely.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                plugins:
                  type: array
                  items:
                    type: object
                    properties:
                      path:
                        type: string
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
  /sites/{id}/plugins/activate:
    put:
      tags:
      - sites
      summary: Activate Plugins
      description: Activating previously deactivated plugins restores desired functionalities, expands features, and re-enables customizations.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                plugins:
                  type: array
                  items:
                    type: object
                    properties:
                      path:
                        type: string
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
  /sites/{id}/security-alerts/plugins:
    get:
      tags:
      - sites
      summary: Plugin Alerts
      description: Get a list of plugins reporting security issues
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      active:
                      - id: 1126
                        site_id: 4
                        name: redirection
                        version: '1.1'
                        status: active
                        active: true
                        update_available: false
                        update_version: null
                        security_risk: true
                        security_alerts:
                        - title: Redirection <= 3.6.2 - Cross-Site Request Forgery (CSRF)
                          description: The Redirection WordPress plugin was affected by a Cross-Site Request Forgery (CSRF) security vulnerability.
                          severity: null
                          fixed_in: 3.6.3
                          reference_urls:
                          - https://www.ripstech.com/php-security-calendar-2018/
                          - https://plugins.trac.wordpress.org/changeset/1974375/redirection
                        - title: Redirection < 2.8 - Authenticated Local File Inclusion
                          description: The Redirection WordPress plugin was affected by an Authenticated Local File Inclusion security vulnerability.
                          severity: null
                          fixed_in: '2.8'
                          reference_urls:
                          - https://advisories.dxw.com/advisories/ace-file-inclusion-redirection/
                          - https://seclists.org/fulldisclosure/2018/Jun/29
                        - title: Redirection 2.3.3 - view/admin/item.php URL Handling Reflected XSS
                          description: The Redirection WordPress plugin was affected by a view/admin/item.php URL Handling Reflected XSS security vulnerability.
                          severity: null
                          fixed_in: 2.3.4
                          reference_urls: []
                        - title: Redirection - view/admin/log_item.php Non-existent Posts Referer HTTP Header XSS
                          description: The Redirection WordPress plugin was affected by a view/admin/log_item.php Non-existent Posts Referer HTTP Header XSS security vulnerability.
                          severity: null
                          fixed_in: 2.2.10
                          reference_urls: []
                        - title: Redirection - wp-admin/tools.php id Parameter XSS
                          description: The Redirection WordPress plugin was affected by a wp-admin/tools.php id Parameter XSS security vulnerability.
                          severity: medium
                          fixed_in: 2.2.9
                          reference_urls: []
                        - title: Redirection < 2.2.12 - XSS
                          description: The Redirection WordPress plugin was affected by a XSS security vulnerability.
                          severity: medium
                          fixed_in: 2.2.12
                          reference_urls: []
                      must-use:
                      - id: 717
                        site_id: 4
                        name: wordfence
                        version: '1.0'
                        status: must-use
                        active: false
                        update_available: true
                        update_version: 6.9.8
                        security_risk: true
                        security_alerts:
                        - title: Wordfence < 7.6.1 - Admin+ Stored Cross-Site Scripting
                          description: The plugin does not sanitise and escape a settings, which could allow high privilege users such as admin to perform Stored Cross-Site Scripting attacks even when the unfiltered_html capability is disallowed (for example in multisite setup)
                          severity: low
                          fixed_in: 7.6.1
                          reference_urls: []
                        - title: Wordfence < 7.1.14 - Username Enumeration Prevention Bypass
                          description: The plugin protection against user enumeration (ie ?author=id) could be bypassed by using an array as author parameter
                          severity: medium
                          fixed_in: 7.1.14
                          reference_urls:
                          - http://www.waraxe.us/advisory-109.html
                          - https://packetstormsecurity.com/files/149845/
                        - title: Wordfence <= 5.1.4 - Cross-Site Scripting (XSS)
                          description: An attacker can inject arbitrary script via the vulnerable query string parameter val of the whois.php file.
                          severity: medium
                          fixed_in: 5.1.5
                          reference_urls: []
                        - title: Wordfence 5.2.2 - XSS in Referer Header
                          description: The Wordfence Security – Firewall & Malware Scan WordPress plugin was affected by a XSS in Referer Header security vulnerability.
                          severity: null
                          fixed_in: 5.2.3
                          reference_urls:
                          - https://vexatioustendencies.com/wordpress-plugin-vulnerability-dump-part-2/
                        - title: Wordfence <= 5.2.4 - Multiple Vulnerabilities (XSS & Bypasses)
                          description: The Wordfence Security – Firewall & Malware Scan WordPress plugin was affected by a Multiple Vulnerabilities (XSS & Bypasses) security vulnerability.
                          severity: null
                          fixed_in: 5.2.5
                          reference_urls:
                          - https://secupress.me/blog/wordfence-5-2-5-security-update/
                          - https://www.securityfocus.com/bid/70915/
                        - title: Wordfence 5.2.3 - Multiple Vulnerabilities
                          description: The Wordfence Security – Firewall & Malware Scan WordPress plugin was affected by a Multiple Vulnerabilities security vulnerability.
                          severity: null
                          fixed_in: 5.2.4
                          reference_urls:
                          - https://vexatioustendencies.com/wordfence-v5-2-3-2-stored-xss-insufficient-logging-throttle-bypass-exploit-detection-bypass/
                        - title: Wordfence 5.2.3 - Banned IP Functionality Bypass
                          description: The Wordfence Security – Firewall & Malware Scan WordPress plugin was affected by a Banned IP Functionality Bypass security vulnerability.
                          severity: null
                          fixed_in: 5.2.4
                          reference_urls:
                          - https://packetstormsecurity.com/files/128259/
                          - https://seclists.org/fulldisclosure/2014/Sep/49
                          - https://vexatioustendencies.com/wordfence-v5-2-3-2-stored-xss-insufficient-logging-throttle-bypass-exploit-detection-bypass/
                        - title: Wordfence 5.2.4 - IPTraf.php URI Request Stored XSS
                          description: The Wordfence Security – Firewall & Malware Scan WordPress plugin was affected by an IPTraf.php URI Request Stored XSS security vulnerability.
                          severity: null
                          fixed_in: 5.2.5
                          reference_urls:
                          - https://packetstormsecurity.com/files/128259/
                        - title: Wordfence 5.2.4 - Unspecified Issue
                          description: The Wordfence Security – Firewall & Malware Scan WordPress plugin was affected by an Unspecified Issue security vulnerability.
                          severity: null
                          fixed_in: 5.2.5
                          reference_urls: []
                        - title: Wordfence 3.8.1 - wp-admin/admin.php whois Parameter Stored XSS
                          description: The Wordfence Security – Firewall & Malware Scan WordPress plugin was affected by a wp-admin/admin.php whois Parameter Stored XSS security vulnerability.
                          severity: null
                          fixed_in: 3.8.3
                          reference_urls:
                          - https://packetstormsecurity.com/files/122993/
                          - https://www.securityfocus.com/bid/62053/
                        - title: Wordfence 3.3.5 - XSS & IAA
                          description: The Wordfence Security – Firewall & Malware Scan WordPress plugin was affected by a XSS & IAA security vulnerability.
                          severity: null
                          fixed_in: 3.3.7
                          reference_urls:
                          - https://seclists.org/fulldisclosure/2012/Oct/139
                        - title: Wordfence 3.8.6 - lib/IPTraf.php User-Agent Header Stored XSS
                          description: The Wordfence Security – Firewall & Malware Scan WordPress plugin was affected by a lib/IPTraf.php User-Agent Header Stored XSS security vulnerability.
                          severity: null
                          fixed_in: 3.8.7
                          reference_urls: []
                        - title: Wordfence 3.8.1 - Password Creation Restriction Bypass
                          description: The Wordfence Security – Firewall & Malware Scan WordPress plugin was affected by a Password Creation Restriction Bypass security vulnerability.
                          severity: null
                          fixed_in: 3.8.3
                          reference_urls: []
  /sites/{id}/security-alerts/themes:
    get:
      tags:
      - sites
      summary: Theme Alerts
      description: Get a list of themes reporting security issues
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      active:
                      - id: 62
                        site_id: 495
                        name: Divi
                        version: 4.15.1
                        status: active
                        active: true
                        update_available: false
                        update_version: null
                        security_risk: true
                        security_alerts:
                        - title: Divi < 4.25.2 - Contributor+ Stored XSS
                          description: The theme is vulnerable to Stored Cross-Site Scripting due to insufficient input sanitization and output escaping. This makes it possible for authenticated attackers, with Author-level access and above, to inject arbitrary web scripts in pages that will execute whenever a user accesses an injected page.
                          severity: medium
                          fixed_in: 4.25.2
                          reference_urls:
                          - https://www.wordfence.com/threat-intel/vulnerabilities/id/6571a899-f217-434f-bbed-b1faf77a8d8b
                        - title: Elegant Themes Divi Theme, Extra Theme, Divi Page Builder <= 4.25.0 - Authenticated (Contributor+) DOM-Based Stored Cross-Site Scripting
                          description: The Elegant Themes Divi theme, Extra theme, and Divi Page Builder plugin for WordPress are vulnerable to DOM-Based Stored Cross-Site Scripting via the ‘title’ parameter in versions up to, and including, 4.25.0 due to insufficient input sanitization and output escaping. This makes it possible for authenticated attackers, with contributor-level permissions and above, to inject arbitrary web scripts in pages that will execute whenever a user accesses an injected page.
                          severity: medium
                          fixed_in: 4.25.1
                          reference_urls:
                          - https://www.wordfence.com/threat-intel/vulnerabilities/id/efac70f6-d959-41f7-bdef-d554f1c9133e
                        - title: Divi < 4.23.2 - Authenticated (Contributor+) Stored Cross-Site Scripting via Shortcode
                          description: The Divi theme for WordPress is vulnerable to Stored Cross-Site Scripting via the plugin's 'et_pb_text' shortcode in all versions up to, and including, 4.23.1 due to insufficient input sanitization and output escaping on user supplied custom field data. This makes it possible for authenticated attackers, with contributor-level access and above, to inject arbitrary web scripts in pages that will execute whenever a user accesses an injected page.
                          severity: medium
                          fixed_in: 4.23.2
                          reference_urls:
                          - https://www.wordfence.com/threat-intel/vulnerabilities/id/999475c5-5f17-47fa-a0d0-47cb5a8a0eb4
                        - title: Divi < 4.20.3 - Contributor+ Stored XSS
                          description: The theme does not validate and escape some parameters, which could allow users with the contributor role and above to perform Stored Cross-Site Scripting attacks
                          severity: medium
                          fixed_in: 4.20.3
                          reference_urls: []
  /sites:
    get:
      tags:
      - sites
      summary: Site List
      description: Get a list of sites belonging to your account. Sites can be filtered by tag name or limited to favorites only. Favorited sites are pinned to the top of the list by default. Site listing is a full list of sites attached to your account, unless pagination is requested.
      parameters:
      - in: query
        name: paginate
        schema:
          type: boolean
      - in: query
        name: per_page
        schema:
          type: integer
      - in: query
        name: page
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: array
                    items:
                      type: object
                    example:
                    - id: 1
                      created: '2022-01-31T20:05:30.000Z'
                      accountId: 2
                      clonedFromId: null
                      collaboratorsCount: 3
                      datacenterCode: DFW
                      datacenterName: Dallas, TX, USA
                      displayName: pressable.com
                      domainsCount: 1
                      ecommerce: false
                      edgeCache: enabled
                      edgeCacheDefensiveMode: false
                      edgeCacheDefensiveModeUntil: null
                      favorite: false
                      fileSystemUsageBytes: 10737418240
                      databaseUsageBytes: 2147483648
                      maxFileSystemUsageBytes: null
                      warningHeadroomFileSystemUsageBytes: null
                      maxDatabaseUsageBytes: null
                      warningHeadroomDatabaseUsageBytes: null
                      ipAddress: 199.16.172.38
                      ipAddressOne: 199.16.172.38
                      ipAddressTwo: 199.16.173.236
                      name: my-presssable-net
                      state: live
                      url: pressable.com
                      staging: false
                      sandbox: false
                      duplikit: false
                      sftpDomain: sftp.pressable.com
                      phpVersion: '8.2'
                      wordpressVersion: Latest Release (Beta)
                      tags:
                      - id: 1357
                        name: 'Halo 3: ODST'
                      wpEnvironmentType: production
                      lightWeight404: true
                      multisiteSupport: false
                    - id: 3
                      created: '2022-01-31T20:05:30.000Z'
                      accountId: 2
                      clonedFromId: null
                      collaboratorsCount: 0
                      datacenterCode: DCA
                      datacenterName: Washington, DC, USA
                      displayName: zippykidnetworks-net
                      domainsCount: 0
                      ecommerce: false
                      edgeCache: enabled
                      edgeCacheDefensiveMode: false
                      edgeCacheDefensiveModeUntil: null
                      favorite: false
                      ipAddress: 199.16.172.107
                      ipAddressOne: 199.16.172.107
                      ipAddressTwo: 199.16.173.153
                      name: zippykidnetworks-net
                      state: deploying
                      url: zippykidnetworks-net.mystagingwebsite.com
                      staging: false
                      sandbox: false
                      duplikit: false
                      sftpDomain: sftp.pressable.com
                      phpVersion: 8,2
                      wordpressVersion: Current Stable Release (6.2)
                      tags: []
                      wpEnvironmentType: production
                      lightWeight404: false
                      multisiteSupport: false
                    - id: 4
                      created: '2022-01-31T20:05:30.000Z'
                      accountId: 2
                      clonedFromId: null
                      collaboratorsCount: 1
                      datacenterCode: N/A
                      datacenterName: N/A
                      displayName: four
                      domainsCount: 0
                      ecommerce: false
                      edgeCache: disabled
                      edgeCacheDefensiveMode: false
                      edgeCacheDefensiveModeUntil: null
                      favorite: false
                      ipAddress: 199.16.172.123
                      ipAddressOne: 199.16.172.123
                      ipAddressTwo: 199.16.173.175
                      name: four
                      state: live
                      url: four.mystagingwebsite.com
                      staging: true
                      sandbox: false
                      duplikit: false
                      sftpDomain: sftp.pressable.com
                      phpVersion: 8,2
                      wordpressVersion: Current Stable Release (6.2)
                      tags:
                      - id: 744
                        name: Super Mario Bros. 3
                      wpEnvironmentType: staging
                      lightWeight404: false
                      multisiteSupport: false
                  page:
                    type: object
                    example:
                      currentPage: 1
                      nextPage: 2
                      lastPage: 66
                      perPage: 20
                      totalItems: 1309
    post:
      tags:
      - sites
      summary: Create Site
      description: Create a new site in your account.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                php_version:
                  type: float
                staging:
                  type: boolean
                sandbox:
                  type: boolean
                duplikit:
                  type: boolean
                install:
                  type: string
                multisite_support:
                  type: boolean
                datacenter_code:
                  type: string
                wp_admin_username:
                  type: string
                wp_admin_email:
                  type: string
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: 1314
                      created: '2022-02-17T20:50:05.000Z'
                      accountId: 2
                      clonedFromId: null
                      collaboratorsCount: 0
                      datacenterCode: DCA
                      datacenterName: Washington, DC, USA
                      displayName: your-site-name
                      domainsCount: 0
                      ecommerce: false
                      edgeCache: disabled
                      edgeCacheDefensiveMode: false
                      edgeCacheDefensiveModeUntil: null
                      favorite: false
                      ipAddress: 199.16.172.70
                      ipAddressOne: 199.16.172.70
                      ipAddressTwo: 199.16.173.246
                      name: your-site-name
                      state: deploying
                      url: your-site-name.mystagingwebsite.com
                      staging: true
                      sandbox: false
                      duplikit: false
                      sftpDomain: sftp.pressable.com
                      phpVersion: null
                      wordpressVersion: Current Stable Release (6.2)
                      tags: []
                      wpEnvironmentType: production
                      lightWeight404: false
                      multisiteSupport: true
  /sites/validate:
    post:
      tags:
      - sites
      summary: Validate Site Name
      description: Use this endpoint to check if a site name is valid before attempting to create a site.
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Site name is not formatted correctly. Periods, spaces, and other special characters are not permitted in site names. Dashes are fine, but name cannot start or end with a dash. Name must be at least 3 characters in length
                  data:
                    type: object
                    example:
                      valid: false
  /sites/{id}:
    get:
      tags:
      - sites
      summary: Get Site
      description: Get site information and settings.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: 1
                      created: '2022-01-31T20:05:30.000Z'
                      accountId: 2
                      clonedFromId: null
                      datacenterCode: DFW
                      datacenterName: Dallas, TX, USA
                      displayName: pressable.com
                      ecommerce: false
                      edgeCache: disabled
                      edgeCacheDefensiveMode: false
                      edgeCacheDefensiveModeUntil: null
                      favorite: false
                      ipAddress: 199.16.172.38
                      ipAddressOne: 199.16.172.38
                      ipAddressTwo: 199.16.173.236
                      name: my-presssable-net
                      pageViews:
                        allTime:
                          people: 0
                          views: 0
                        lastTwoYearsIsAllTime:
                          people: 0
                          views: 0
                        currentMonth:
                          people: 0
                          views: 0
                        lastMonth:
                          views: 0
                          people: 0
                        today:
                          people: 0
                          views: 0
                        twoMonthsAgo:
                          views: 0
                          people: 0
                        yesterday:
                          people: 0
                          views: 0
                      phpVersion: '8.2'
                      wordpressVersion: Current Stable Release (6.2)
                      sftpDomain: sftp.pressable.com
                      state: live
                      url: pressable.com
                      wordpressLoginUrl: pressable.com/wp-admin
                      staging: false
                      sandbox: false
                      duplikit: false
                      tags:
                      - id: 1357
                        name: 'Halo 3: ODST'
                      wpEnvironmentType: development
                      collaborators:
                      - id: 1
                        created: '2022-01-31T20:05:39.000Z'
                        email: janedoe@example.com
                        gravatar: https://www.gravatar.com/avatar/eabc66b353b56eba0b94ff5695fbcfbf?d=mp
                        name: Jane Doe
                        wpUsername: jane
                        username: 46e652f73b2afc
                      - id: 2
                        created: '2022-01-31T20:05:39.000Z'
                        email: tomdoe@example.com
                        gravatar: https://www.gravatar.com/avatar/127a526b67c878d70961db95ae87fa56?d=mp
                        name: Tom Doe
                        wpUsername: tom
                        username: 6f4c70e32926e2
                      - id: 1203
                        created: '2022-01-31T20:05:39.000Z'
                        email: clairedoe@example.com
                        gravatar: https://www.gravatar.com/avatar/595f525cba4a637978bc1ab2899f1d52?d=mp
                        name: Claire Doe
                        wpUsername: johndoe
                        username: null
                      jetpack: null
    put:
      tags:
      - sites
      summary: Update Site
      description: Update the Display Name, PHP Version or WP Environment Type for a site.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                php_version:
                  type: float
                wp_environment_type:
                  type: string
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: 500
                      created: '2022-01-31T20:05:33.000Z'
                      accountId: 2
                      clonedFromId: null
                      collaboratorsCount: 1
                      displayName: five hundred site
                      domainsCount: 0
                      ecommerce: false
                      edgeCache: disabled
                      edgeCacheDefensiveMode: false
                      edgeCacheDefensiveModeUntil: null
                      favorite: false
                      ipAddress: 79.127.25.163
                      ipAddressOne: 79.127.25.163
                      ipAddressTwo: 235.255.236.118
                      name: busy-nose-1d7f431a88
                      state: live
                      url: busy-nose-1d7f431a88.mystagingwebsite.com
                      staging: false
                      sandbox: false
                      duplikit: false
                      sftpDomain: sftp.pressable.com
                      phpVersion: '8.0'
                      wordpressVersion: Current Stable Release (6.2)
                      tags:
                      - id: 354
                        name: Clannad
                      wpEnvironmentType: development
                      lightWeight404: false
                      multisiteSupport: false
    delete:
      tags:
      - sites
      summary: Delete Site
      description: Delete a site with the specified id.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
  /sites/search:
    post:
      tags:
      - sites
      summary: Search Sites
      description: Search for sites linked to your account by using our approved keys for filtering. Provide the filters as an array of key-value pairs within the 'filters' parameter.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                filters:
                  type: array
                  items:
                    type: object
                    properties:
                      key:
                        type: string
                      value:
                        type: string
                per_page:
                  type: integer
                page:
                  type: integer
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: array
                    items:
                      type: object
                    example:
                    - id: 3
                      name: zippykidnetworks-net
                      displayName: zippykidnetworks-net
                      url: zippykidnetworks-net.mystagingwebsite.com
                      created: '2023-07-05T18:10:15.000Z'
                      clonedFromId: null
                      datacenterCode: DCA
                      datacenterName: Washington, DC, USA
                      ecommerce: false
                      edgeCache: enabled
                      edgeCacheDefensiveMode: true
                      edgeCacheDefensiveModeUntil: 1720625109
                      ipAddresses:
                      - 199.16.172.107
                      - 199.16.173.153
                      lightWeight404: false
                      phpVersion: null
                      sftpDomain: sftp.pressable.com
                      staging: false
                      sandbox: false
                      duplikit: false
                      state: deploying
                      wordpressVersion: Current Stable Version (6.3)
                      wpEnvironmentType: production
                      multisiteSupport: false
                  page:
                    type: object
                    example:
                      currentPage: 1
                      nextPage: null
                      lastPage: 1
                      perPage: 20
                      totalItems: 1
  /sites/install-options:
    get:
      tags:
      - sites
      summary: Site Install Options
      description: When creating a new site you can select for certain options available to be installed, such as woocommerce. This endpoint will return an array of install options available to you. When not sending an install option when creating a site a default installation of WordPress in used.
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: array
                    items:
                      type: string
                    example:
                    - wordpress
                    - woocommerce
  /sites/datacenters:
    get:
      tags:
      - sites
      summary: Available Site Datacenters
      description: When creating a new site you can select for a certain datacenter that is available to be used. Use the datacenter code when creating a site. This endpoint will return a collection of datacenter options available to you. When not specifying a datacenter to use when creating a site a default datacenter will be used.
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: array
                    items:
                      type: object
                    example:
                    - code: BUR
                      name: Los Angeles, CA, USA
                    - code: DCA
                      name: Washington, DC, USA
                    - code: DFW
                      name: Dallas, TX, USA
  /sites/php-versions:
    get:
      tags:
      - sites
      summary: Valid PHP Versions
      description: Get valid PHP versions that are currently available for sites hosted within our platform.
      parameters: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: array
                    items:
                      type: string
                    example:
                    - '8.3'
                    - '8.4'
                    - '8.5'
  /sites/{id}/disable:
    put:
      tags:
      - sites
      summary: Disable Site
      description: When disabling a site the site will be put in a suspended state and all requests to the site will receive a 480 Temporarily Unavailable response. The disabled site will still count towards your site billing count.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: 500
                      created: '2022-01-31T20:05:33.000Z'
                      accountId: 2
                      clonedFromId: null
                      collaboratorsCount: 1
                      datacenterCode: N/A
                      datacenterName: N/A
                      displayName: five hundred site
                      domainsCount: 0
                      ecommerce: false
                      edgeCache: enabled
                      edgeCacheDefensiveMode: true
                      edgeCacheDefensiveModeUntil: 1720625109
                      favorite: false
                      ipAddress: 79.127.25.163
                      ipAddressOne: 79.127.25.163
                      ipAddressTwo: 235.255.236.118
                      name: busy-nose-1d7f431a88
                      state: disabled
                      url: busy-nose-1d7f431a88.mystagingwebsite.com
                      staging: false
                      sandbox: false
                      duplikit: false
                      sftpDomain: sftp.pressable.com
                      phpVersion: '8.2'
                      wordpressVersion: Current Stable Release (6.2)
                      tags:
                      - id: 354
                        name: Clannad
                      wpEnvironmentType: development
                      lightWeight404: false
                      multisiteSupport: false
  /sites/{id}/enable:
    put:
      tags:
      - sites
      summary: Enable Site
      description: This only works for sites that are currently disabled. Enabling a site returns the site to a live state allowing for normal html responses, removing the 480 Temporarily Unavailable response for users.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: 500
                      created: '2022-01-31T20:05:33.000Z'
                      accountId: 2
                      clonedFromId: null
                      collaboratorsCount: 1
                      datacenterCode: N/A
                      datacenterName: N/A
                      displayName: five hundred site
                      domainsCount: 0
                      ecommerce: false
                      edgeCache: disabled
                      edgeCacheDefensiveMode: false
                      edgeCacheDefensiveModeUntil: null
                      favorite: false
                      ipAddress: 79.127.25.163
                      ipAddressOne: 79.127.25.163
                      ipAddressTwo: 235.255.236.118
                      name: busy-nose-1d7f431a88
                      state: live
                      url: busy-nose-1d7f431a88.mystagingwebsite.com
                      staging: false
                      sandbox: false
                      duplikit: false
                      sftpDomain: sftp.pressable.com
                      phpVersion: '8.2'
                      wordpressVersion: Current Stable Release (6.2)
                      tags:
                      - id: 354
                        name: Clannad
                      wpEnvironmentType: development
                      lightWeight404: false
                      multisiteSupport: false
  /sites/{id}/convert:
    put:
      tags:
      - sites
      summary: Convert Site (Staging/Live)
      description: Staging/Sandbox to Live
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: 500
                      created: '2022-01-31T20:05:33.000Z'
                      accountId: 2
                      clonedFromId: null
                      datacenterCode: N/A
                      datacenterName: N/A
                      displayName: five hundred site
                      ecommerce: false
                      edgeCache: disabled
                      edgeCacheDefensiveMode: false
                      edgeCacheDefensiveModeUntil: null
                      favorite: false
                      ipAddress: 79.127.25.163
                      ipAddressOne: 79.127.25.163
                      ipAddressTwo: 235.255.236.118
                      name: busy-nose-1d7f431a88
                      pageViews:
                        allTime:
                          people: 0
                          views: 0
                        currentMonth:
                          people: 0
                          views: 0
                        lastMonth:
                          views: 0
                          people: 0
                        today:
                          people: 0
                          views: 0
                        twoMonthsAgo:
                          views: 0
                          people: 0
                        yesterday:
                          people: 0
                          views: 0
                      phpVersion: '8.2'
                      wordpressVersion: Current Stable Release (6.2)
                      sftpDomain: sftp.pressable.com
                      state: live
                      url: busy-nose-1d7f431a88.mystagingwebsite.com
                      wordpressLoginUrl: busy-nose-1d7f431a88.mystagingwebsite.com/wp-admin
                      staging: true
                      sandbox: false
                      duplikit: false
                      tags:
                      - id: 354
                        name: Clannad
                      wpEnvironmentType: staging
                      collaborators:
                      - id: 484
                        created: '2022-01-31T20:05:39.000Z'
                        email: clairedoe@example.com
                        gravatar: https://www.gravatar.com/avatar/595f525cba4a637978bc1ab2899f1d52?d=mp
                        name: Claire Doe
                        wpUsername: johndoe
                        username: null
                      jetpack: null
  /sites/{id}/convert/duplikit:
    put:
      tags:
      - sites
      summary: Convert Site To DupliKit
      description: Convert To DupliKit
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: 500
                      created: '2022-01-31T20:05:33.000Z'
                      accountId: 2
                      clonedFromId: null
                      datacenterCode: N/A
                      datacenterName: N/A
                      displayName: five hundred site
                      ecommerce: false
                      edgeCache: disabled
                      edgeCacheDefensiveMode: false
                      edgeCacheDefensiveModeUntil: null
                      favorite: false
                      ipAddress: 79.127.25.163
                      ipAddressOne: 79.127.25.163
                      ipAddressTwo: 235.255.236.118
                      name: busy-nose-1d7f431a88
                      pageViews:
                        allTime:
                          people: 0
                          views: 0
                        currentMonth:
                          people: 0
                          views: 0
                        lastMonth:
                          views: 0
                          people: 0
                        today:
                          people: 0
                          views: 0
                        twoMonthsAgo:
                          views: 0
                          people: 0
                        yesterday:
                          people: 0
                          views: 0
                      phpVersion: '8.2'
                      wordpressVersion: Current Stable Release (6.2)
                      sftpDomain: sftp.pressable.com
                      state: live
                      url: busy-nose-1d7f431a88.mystagingwebsite.com
                      wordpressLoginUrl: busy-nose-1d7f431a88.mystagingwebsite.com/wp-admin
                      staging: true
                      sandbox: false
                      duplikit: true
                      tags:
                      - id: 354
                        name: Clannad
                      wpEnvironmentType: staging
                      collaborators:
                      - id: 484
                        created: '2022-01-31T20:05:39.000Z'
                        email: clairedoe@example.com
                        gravatar: https://www.gravatar.com/avatar/595f525cba4a637978bc1ab2899f1d52?d=mp
                        name: Claire Doe
                        wpUsername: johndoe
                        username: null
                      jetpack: null
  /sites/{id}/convert/sandbox:
    put:
      tags:
      - sites
      summary: Convert Site To Sandbox
      description: Staging to Sandbox
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: 500
                      created: '2022-01-31T20:05:33.000Z'
                      accountId: 2
                      clonedFromId: null
                      datacenterCode: N/A
                      datacenterName: N/A
                      displayName: five hundred site
                      ecommerce: false
                      edgeCache: disabled
                      edgeCacheDefensiveMode: false
                      edgeCacheDefensiveModeUntil: null
                      favorite: false
                      ipAddress: 79.127.25.163
                      ipAddressOne: 79.127.25.163
                      ipAddressTwo: 235.255.236.118
                      name: busy-nose-1d7f431a88
                      pageViews:
                        allTime:
                          people: 0
                          views: 0
                        currentMonth:
                          people: 0
                          views: 0
                        lastMonth:
                          views: 0
                          people: 0
                        today:
                          people: 0
                          views: 0
                        twoMonthsAgo:
                          views: 0
                          people: 0
                        yesterday:
                          people: 0
                          views: 0
                      phpVersion: '8.2'
                      wordpressVersion: Current Stable Release (6.2)
                      sftpDomain: sftp.pressable.com
                      state: live
                      url: busy-nose-1d7f431a88.mystagingwebsite.com
                      wordpressLoginUrl: busy-nose-1d7f431a88.mystagingwebsite.com/wp-admin
                      staging: true
                      sandbox: true
                      duplikit: false
                      tags:
                      - id: 354
                        name: Clannad
                      wpEnvironmentType: staging
                      collaborators:
                      - id: 484
                        created: '2022-01-31T20:05:39.000Z'
                        email: clairedoe@example.com
                        gravatar: https://www.gravatar.com/avatar/595f525cba4a637978bc1ab2899f1d52?d=mp
                        name: Claire Doe
                        wpUsername: johndoe
                        username: null
                      jetpack: null
  /sites/{id}/convert/live:
    put:
      tags:
      - sites
      summary: Convert Site To Live
      description: Coverting to Live
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: 500
                      created: '2022-01-31T20:05:33.000Z'
                      accountId: 2
                      clonedFromId: null
                      datacenterCode: N/A
                      datacenterName: N/A
                      displayName: five hundred site
                      ecommerce: false
                      edgeCache: disabled
                      edgeCacheDefensiveMode: false
                      edgeCacheDefensiveModeUntil: null
                      favorite: false
                      ipAddress: 79.127.25.163
                      ipAddressOne: 79.127.25.163
                      ipAddressTwo: 235.255.236.118
                      name: busy-nose-1d7f431a88
                      pageViews:
                        allTime:
                          people: 0
                          views: 0
                        currentMonth:
                          people: 0
                          views: 0
                        lastMonth:
                          views: 0
                          people: 0
                        today:
                          people: 0
                          views: 0
                        twoMonthsAgo:
                          views: 0
                          people: 0
                        yesterday:
                          people: 0
                          views: 0
                      phpVersion: '8.2'
                      wordpressVersion: Current Stable Release (6.2)
                      sftpDomain: sftp.pressable.com
                      state: live
                      url: busy-nose-1d7f431a88.mystagingwebsite.com
                      wordpressLoginUrl: busy-nose-1d7f431a88.mystagingwebsite.com/wp-admin
                      staging: false
                      sandbox: false
                      duplikit: false
                      tags:
                      - id: 354
                        name: Clannad
                      wpEnvironmentType: staging
                      collaborators:
                      - id: 484
                        created: '2022-01-31T20:05:39.000Z'
                        email: clairedoe@example.com
                        gravatar: https://www.gravatar.com/avatar/595f525cba4a637978bc1ab2899f1d52?d=mp
                        name: Claire Doe
                        wpUsername: johndoe
                        username: null
                      jetpack: null
  /sites/{id}/convert/staging:
    put:
      tags:
      - sites
      summary: Convert Site To Staging
      description: Live to Staging
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: 500
                      created: '2022-01-31T20:05:33.000Z'
                      accountId: 2
                      clonedFromId: null
                      datacenterCode: N/A
                      datacenterName: N/A
                      displayName: five hundred site
                      ecommerce: false
                      edgeCache: disabled
                      edgeCacheDefensiveMode: false
                      edgeCacheDefensiveModeUntil: null
                      favorite: false
                      ipAddress: 79.127.25.163
                      ipAddressOne: 79.127.25.163
                      ipAddressTwo: 235.255.236.118
                      name: busy-nose-1d7f431a88
                      pageViews:
                        allTime:
                          people: 0
                          views: 0
                        currentMonth:
                          people: 0
                          views: 0
                        lastMonth:
                          views: 0
                          people: 0
                        today:
                          people: 0
                          views: 0
                        twoMonthsAgo:
                          views: 0
                          people: 0
                        yesterday:
                          people: 0
                          views: 0
                      phpVersion: '8.2'
                      wordpressVersion: Current Stable Release (6.2)
                      sftpDomain: sftp.pressable.com
                      state: live
                      url: busy-nose-1d7f431a88.mystagingwebsite.com
                      wordpressLoginUrl: busy-nose-1d7f431a88.mystagingwebsite.com/wp-admin
                      staging: true
                      sandbox: false
                      duplikit: false
                      tags:
                      - id: 354
                        name: Clannad
                      wpEnvironmentType: staging
                      collaborators:
                      - id: 484
                        created: '2022-01-31T20:05:39.000Z'
                        email: clairedoe@example.com
                        gravatar: https://www.gravatar.com/avatar/595f525cba4a637978bc1ab2899f1d52?d=mp
                        name: Claire Doe
                        wpUsername: johndoe
                        username: null
                      jetpack: null
  /sites/{site_id}/object-cache:
    delete:
      tags:
      - sites
      summary: Flush Object Cache
      description: Flush the object cache for a site with the specified id.
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
  /sites/{id}/light_weight_404:
    put:
      tags:
      - sites
      summary: Toggle Light Weight 404
      description: Enable or Disable Light Weight 404 handling for a site with the specified id.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      lightWeight404Enabled: true
  /sites/{id}/multisite-support:
    put:
      tags:
      - sites
      summary: Toggle Multisite Support
      description: Please note that you must be on a High Traffic Plan to use this feature.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      id: 3
                      created: '2024-05-02T22:50:25.000Z'
                      accountId: 2
                      clonedFromId: null
                      collaboratorsCount: 0
                      datacenterCode: DCA
                      datacenterName: Washington, DC, USA
                      displayName: zippykidnetworks-net
                      domainsCount: 0
                      ecommerce: false
                      edgeCache: disabled
                      edgeCacheDefensiveMode: false
                      edgeCacheDefensiveModeUntil: null
                      favorite: false
                      ipAddress: 199.16.172.107
                      ipAddressOne: 199.16.172.107
                      ipAddressTwo: 199.16.173.153
                      name: zippykidnetworks-net
                      state: deploying
                      url: zippykidnetworks-net.mystagingwebsite.com
                      staging: false
                      sandbox: false
                      duplikit: false
                      sftpDomain: sftp.pressable.com
                      phpVersion: '8.2'
                      wordpressVersion: Current Stable Version (6.5)
                      tags: []
                      wpEnvironmentType: development
                      lightWeight404: false
                      multisiteSupport: true
  /sites/{id}/maintenance-mode:
    put:
      tags:
      - sites
      summary: Maintenance Mode
      description: The "Maintenance Mode" feature offers a toggle to either enable or disable a protective mode for your website. Enabling it activates the Pressable Maintenance Mode plugin, which ensures your WP Admin remains accessible to you while displaying a Maintenance Mode screen to your site's visitors, thus barring them from interaction while you perform any needed updates or adjustments behind the scenes. Conversely, disabling it makes your website fully accessible and interactive for visitors, so it is vital to ensure all updates and changes are finalized for a seamless user experience before deactivating this mode.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
  /sites/{id}/basic-authentication:
    put:
      tags:
      - sites
      summary: Basic Authentication
      description: The "Basic Authentication" feature allows you to easily restrict public access to your website. When installed, it activates the Pressable Basic Authentication plugin, which requires anyone visiting your site to enter a username and password before gaining access. This is especially useful for in-progress development sites where you want to keep content private. Removing the Basic Authentication plugin removes this login requirement, making your site fully open to the public. Be sure all content is production-ready before turning it off to ensure a professional experience for your audience.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
  /sites/{id}/wordpress-mcp:
    put:
      tags:
      - sites
      summary: WordPress MCP
      description: The "WordPress MCP" feature toggles the WordPress MCP plugin on a per-site basis. When activated, the Pressable WordPress MCP plugin is installed and enabled, exposing the site to Model Context Protocol clients. Deactivating removes the plugin and disables MCP access for the site. The endpoint flips the toggle each time it is called — one call enables, the next disables.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: MCP plugin enabled
                  data:
                    type: object
                    example:
                      mcp_enabled: true
  /sites/{site_id}/file-modifications:
    get:
      tags:
      - sites
      summary: File Modification Settings
      description: Returns the current state of the wp-config file-modification constants for a site. ‘disallow_file_edit’ reports the DISALLOW_FILE_EDIT constant (hides the built-in plugin & theme code editor in the WordPress admin) and ‘disallow_file_mods’ reports the DISALLOW_FILE_MODS constant (also blocks plugin/theme installs, updates, and deletions).
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
                  data:
                    type: object
                    example:
                      disallow_file_edit: true
                      disallow_file_mods: false
    put:
      tags:
      - sites
      summary: Update File Modification Settings
      description: Sets or removes a wp-config file-modification constant for a site. When ‘enabled’ is true the constant is defined as ‘true’ in the site’s wp-config.php; when false the constant is removed. Removing an already-absent constant succeeds, so the disable path is idempotent.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                constant:
                  type: string
                enabled:
                  type: boolean
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: DISALLOW_FILE_EDIT enabled
                  data:
                    type: object
                    example:
                      disallow_file_edit: true
                      disallow_file_mods: false
  /sites/{id}/favorites:
    post:
      tags:
      - sites
      summary: Favorite Site
      description: Add a site to your site favorites, favorite sites show up first in site listings.
      parameters:
      - in: path
        name: id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
  /sites/{site_id}/favorites:
    delete:
      tags:
      - sites
      summary: Unfavorite Site
      description: Remove a site as a favorite with the specified site id.
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Success
  /sites/{site_id}/clone:
    post:
      tags:
      - sites
      summary: Create Site Clone
      description: Create a copy of the specified site.
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                staging:
                  type: boolean
                sandbox:
                  type: boolean
                duplikit:
                  type: boolean
                datacenter_code:
                  type: string
      parameters:
      - in: path
        name: site_id
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
[...]
